@model User
@{
    ViewData["Title"] = "Account";
    if (User.IsInRole("Player"))
        Layout = "../Player/_PlayerLayout";
    if (User.IsInRole("Admin"))
        Layout = "../Admin/_AdminLayout";
}

<div class="account-page">
    <div class="left-section">
        <span class="title">Доступные действия</span>
        <div class="middle-block account-sections__wrapper">
            <div class="account-sections">
                <div id="edit-account-section" class="account-sections__item">
                    <img src="~/icons/svg/edit-account.svg" alt="">
                    <span>Изменить личные данные</span>
                </div>
                <div id="logout-section" class="account-sections__item">
                    <img src="~/icons/svg/logout.svg" alt="">
                    <span>Выйти из аккаунта</span>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <div class="right-section">
        <span class="title">Изменение данных об аккаунте</span>
        <div class="middle-block edit-user-form__wrapper">
            <form name="edit-user-form" onsubmit="return false">
                <div class="input-grid">
                    <input hidden id="id" type="text" value="@Model.Id">
                    <div class="input-box upper-placeholder tooltip">
                        <label for="username">Имя пользователя</label>
                        <input disabled id="username" type="text" tabindex="1"
                               value="@Model.UserName">
                        <span class="tooltip__text">Вы не можете изменить это поле</span>
                    </div>
                    <div class="input-box upper-placeholder">
                        <label for="email">Электронная почта</label>
                        <input id="email" type="email" tabindex="3"
                               value="@Model.Email">
                        <span class="error-label">
                            <span class="icon"></span>
                            <span class="text"></span>
                        </span>
                    </div>
                    <div class="input-box upper-placeholder">
                        <label for="birthdate">Дата рождения</label>
                        <input id="birthdate" type="date" min="1900-01-01"
                               onChange="this.setAttribute('value', this.value)" tabindex="4"
                               value="@Model.BirthDate.ToString("yyyy-MM-dd")">
                        <span class="error-label">
                            <span class="icon"></span>
                            <span class="text"></span>
                        </span>
                    </div>
                    <div class="input-box upper-placeholder">
                        <label for="new-password">Новый пароль</label>
                        <input class="without-hover-up" type="password" id="new-password" tabindex="2">
                        <span class="error-label">
                            <span class="icon"></span>
                            <span class="text"></span>
                        </span>
                    </div>
                    <div class="input-box">
                        <div class="gender-selection" tabindex="5">
                            <span>Пол:</span>
                            <input type="radio" name="genderRadioButton" id="gender-male" value="Мужской" genderId="1">
                            <input type="radio" name="genderRadioButton" id="gender-female" value="Женский" genderId="2">
                            <input type="radio" name="genderRadioButton" id="gender-other" value="Другое" genderId="3">
                            <input hidden id="gender-result" value="@Model.GenderId" />
                        </div>
                        <span class="error-label">
                            <span class="icon"></span>
                            <span class="text"></span>
                        </span>
                    </div>
                </div>
                <div class="buttons">
                    <button id="discard-changes-button" class="button" tabindex="6">Сбросить</button>
                    <button id="save-changes-button" class="accent" tabindex="7">Сохранить</button>
                </div>
            </form>
        </div>
        <div class="footer"></div>
    </div>
    <div class="info">
        <span class="title"></span>
        <div class="middle-block">
            <img src="~/icons/svg/info.svg" alt="" class="info__icon">
            <p class="info__text">Выберите нужное действие из списка слева.</p>
        </div>
        <div class="footer">
        </div>
    </div>

    @* Decorative blocks on top and bottom *@
    <div class="top-line"></div>
</div>

@* Hidden dialog box #1 *@
<div id="logout-confirm-dialog-box" class="dialog-wrapper" hidden>
    <div class="dialog-box">
        <h3 class="dialog-box__title fault">Подтверждение действия</h3>
        <p class="dialog-box__message">
            Вы действительно хотите совершить <b>выход</b> из аккаунта <b>@User.Identity.Name</b>?
        </p>
        <div class="dialog-box__buttons">
            <button class="close accent without-hover-up">Нет</button>
            <form method="post" asp-action="Logout" asp-controller="Account">
                <button type="submit" class="without-hover-up accent">Да</button>
            </form>
        </div>
    </div>
</div>

@* Hidden dialog box #2 *@
<div id="password-confirm-dialog-box" class="dialog-wrapper" hidden>
    <div class="dialog-box">
        <h3 class="dialog-box__title fault">Подтверждение действия</h3>
        <div class="dialog-box__content">
            <span class="dialog-box__message">Введите текущий пароль для подтверждения изменения данных:</span>
            <div class="input-box">
                <input id="old-password" class="without-hover-up" type="password" placeholder="Текущий пароль" />
                <span class="error-label without-hover-up">
                    <span class="icon"></span>
                    <span class="text"></span>
                </span>
            </div>
        </div>
        <div class="dialog-box__buttons">
            <button class="cancel accent without-hover-up">Отменить</button>
            <button id="confirm-changes-button" class="accent without-hover-up">Подтвердить</button>
        </div>
    </div>
</div>

@* Hidden dialog box #3 *@
<div id="no-changes-dialog-box" class="dialog-wrapper" hidden>
    <div class="dialog-box">
        <h3 class="dialog-box__title fault">Изменение данных</h3>
        <p class="dialog-box__message">Введите новое значение хотя бы в одно поле.</p>
        <button class="dialog-box__button close accent without-hover-up">Ок</button>
    </div>
</div>

@* Hidden dialog box #4 *@
<div id="successful-changes-dialog-box" class="dialog-wrapper" hidden>
    <div class="dialog-box">
        <h3 class="dialog-box__title success">Изменение данных</h3>
        <p class="dialog-box__message">
            Данные учетной записи успешно <b>изменены</b>.
        </p>
        <button class="dialog-box__button close accent without-hover-up">Закрыть</button>
    </div>
</div>

<script>
    document.getElementById('account-link').classList.add('selected');
</script>
<script src="~/js/Account/init.js" asp-append-version="true"></script>
<script src="~/js/Account/initialDataRemember.js" asp-append-version="true"></script>
v<script src="~/js/Account/actionSelection.js" asp-append-version="true"></script>
<script src="~/js/Account/editFormHandler.js" asp-append-version="true"></script>
<script src="~/js/Shared/setMaxDate.js" asp-append-version="true"></script>
<script src="~/js/Shared/toggleGenderValue.js" asp-append-version="true"></script>